!!! 5
html
	head
		meta(charset = 'utf-8')
		meta('http-equiv' = 'X-UA-Compatible', content = 'IE=edge,chrome=1')
		title HTML Prototype
		link(rel = 'stylesheet', type = 'text/css', href = 'css/reset.css')
		link(rel = 'stylesheet', type = 'text/css', href = 'css/main.css')
		script(src = 'js/zepto.min.js')
		script(src = 'js/main.js')
		//if lt IE 9
			script(src = '//html5shiv.googlecode.com/svn/trunk/html5.js')
	body
		header
			h1#logo: a(href="#"): img(src="img/logo.svg", width="55", height="40")
			nav#main-nav: ul
				li.selected: a(href="#") Posts
				li: a(href="#") Activities
				li: a(href="#") Designers
				li: a(href="#") Submissions
			#profile_settings
				img(src="img/profile_image.jpg", width="25", height="25")
		#content
			header
				h2 Homepage
				section.author
					img(src="img/author_image.jpg", width="20", height="20")
					.name: a(href="#") Sam Drole
				.description
					p Brainstorm for different postion and style of posts on the home page
			.art-comments
				.artwork
					img(src="img/sample_wireframe.jpg")
					.number(style="left: 32px; top: 634px;") 1
				aside
					article.comment
						header
							img(src="img/author_image.jpg", width="20", height="20")
							.name: a(href="#") Sam Drole
							.author Author
							.number 1
						p This option would have all 4 side by side.
					article.comment
						header
							img(src="img/author_image.jpg", width="20", height="20")
							.name: a(href="#") Cami
							.number 2
						p This option would have all 4 side by side.
		footer